.custom-card {
    min-width: 350px;
    min-height: 300px;
    box-shadow: 0 .7rem 2rem rgba(0,0,0,.100);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.custom-card:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}